* {
	margin: 0;
	padding: 0;
}
body {
	background-color: #FFF;
	font-family: 'Nunito', sans-serif;
}
body a {
	color: #186271;
}
.content-home {
	/*border: 1px solid black;*/
	margin: 40px;
}

.slider-pic {
	width: 100%;
	padding-bottom: 0px;
}
.photo-caption {
	padding: 10px;
	background-color: #CFCFCF;
}
.details {
	margin: 20px 0 20px 0;
}
footer {
	margin-top: 20px;
	padding-top: 10px;
}