* {
	margin: 0;
	padding: 0;
}
body {
	background-color: #6D6A6A;
}

.content-home {
	/*border: 1px solid black;*/
	margin: 40px;
}

.slider-pic {
	width: 100%;
	padding-bottom: 0px;
}
.photo-caption {
	padding: 10px;
	background-color: #CFCFCF;
}